# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Build with Maven
    - uses: actions/checkout@v4
    - name: Download Vosk AI model
      run: wget "https://alphacephei.com/vosk/models/vosk-model-en-us-0.22.zip"
    - name: Unzip model
      run: unzip vosk-model-en-us-0.22.zip -d vosk-model-en-us-0.22
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven
      run: mvn verify
    - name: Run Checkstyle linter
      run: mvn --batch-mode checkstyle:checkstyle
    - name: Run Tests
      run: mvn test -Dtest=Test
